@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "lato";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  padding: 30px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .left .logo .logo_image img {
  width: 180px;
  height: auto;
}
nav .center form {
  border: 2px solid #BCE3C9;
  border-radius: 4px;
  max-width: 700px;
  background-color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
}
nav .center form .search {
  font-weight: bold;
}
nav .center form select {
  padding-left: 20px;
  width: 155px;
  max-width: unset;
  border-radius: 5px 0 0 5px;
  border: 0px;
}
nav .center form:after {
  content: "";
  height: 20px;
  width: 1px;
  background-color: #CACACA;
  position: absolute;
  left: 151px;
  top: 15px;
}
nav .center form input {
  width: 100vh;
  border: 0px;
}
nav .right .icons {
  display: flex;
  gap: 20px;
}
nav .right .icons .icon {
  display: flex;
  align-items: flex-end;
}
nav .right .icons .icon img {
  width: 25px;
}

header {
  border-top: 1px solid rgb(236, 236, 236);
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 15px 0;
}
header .header_box .head_left .categories {
  margin-right: 35px;
}
header .header_box .head_left .categories button {
  line-height: 44px;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  border-radius: 5px;
  padding: 0px 20px;
  color: rgb(255, 255, 255);
  background: rgb(59, 183, 126);
  font-weight: 700;
  align-items: center;
  border: 0px;
}

#archive_header {
  margin-top: 50px;
  margin-bottom: 30px;
}
#archive_header .header_page .header_text {
  background-image: url(/src/assets/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  padding: 70px 80px;
}
#archive_header .header_page .header_text .left_text h1 {
  margin-bottom: 15px;
  font-size: 48px;
  font-family: Quicksand, sans-serif;
  color: rgb(37, 61, 78);
  font-weight: 700;
  line-height: 1.2;
}
#archive_header .header_page .header_text .left_text .location {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
#archive_header .header_page .header_text .left_text .location .loc_left a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(59, 183, 126);
  font-size: 14px !important;
  font-family: "lato";
  font-weight: 700;
}
#archive_header .header_page .header_text .left_text .location .loc_left a i {
  font-size: 14px !important;
}
#archive_header .header_page .header_text .left_text .location i {
  font-size: 10px;
}

#products .cards {
  display: flex;
  padding: 0 20px 20px 0px;
  position: relative;
}
#products .cards .left {
  max-width: 28%;
  border: 1px solid #ececec;
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#products .cards .left .image {
  padding: 10px;
  position: relative;
}
#products .cards .left .image .imageone {
  position: absolute;
  width: 100%;
  height: auto;
  transition: ease-in-out 1.5s;
  -o-object-fit: cover;
     object-fit: cover;
}
#products .cards .left .image .imagethree {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: cubic-bezier(0, 0, 0.12, 1) 1.5s;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
#products .cards .right {
  display: flex;
  align-items: center;
  padding: 0 20px 20px 20px;
}
#products .cards .right .text h1 {
  font-size: 16px;
  color: #adadad;
  margin-bottom: 5px;
}
#products .cards .right .text h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Quicksand", sans-serif;
  color: #253D4E;
  line-height: 1.2;
}
#products .cards .right .text .pro_rate {
  background-image: url(/src/assets/rating-stars.png);
  background-position: 0 -12px;
  background-repeat: repeat-x;
  height: 12px;
  width: 60px;
}
#products .cards .right .text .pro_rate .pro_rating {
  height: 12px;
  background-repeat: repeat-x;
  background-image: url(/src/assets/rating-stars.png);
  background-position: 0 0;
}
#products .cards .right .text p {
  margin: 15px 0px;
  color: #7e7e7e;
  font-weight: 400;
  line-height: 24px;
}
#products .cards .right .text .price {
  display: flex;
  align-items: flex-end;
}
#products .cards .right .text .price h3 {
  font-size: 32px;
  font-family: "quicksand";
  font-weight: bold;
  color: #3BB77E;
}
#products .cards .right .text .price span {
  color: #adadad;
  font-size: 20px;
  font-family: "quicksand";
  margin: 0 0 0 7px;
  font-weight: bold;
  text-decoration: line-through;
}
#products .cards .right .text .card_button {
  display: flex;
  align-items: baseline;
}
#products .cards .right .text .card_button button {
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(59, 183, 126);
  cursor: pointer;
  letter-spacing: 0.5px;
  padding: 12px 30px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  -o-border-image: initial;
     border-image: initial;
  display: flex;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}
#products .cards .right .text .card_button button svg {
  width: 14.5px;
  height: 14.5px;
  fill: #fff;
  margin-right: 5px;
}
#products .cards .right .text .card_button button:hover {
  background-color: #FDC040;
}
#products .cards .right .text .card_button a {
  list-style: none;
  text-decoration: none;
  margin-left: 30px;
  color: #7e7e7e;
}
#products .cards .right .text .card_button a svg {
  width: 14.5px;
  height: 14.5px;
  margin-right: 5px;
}
#products .cards:hover .left .image .imagethree {
  opacity: 1;
  visibility: visible;
  transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
#products .cards:hover .left .image .imageone {
  display: none;
  transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
#products .cards .badges {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 9;
}
#products .cards .badges .hot {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px 20px;
}/*# sourceMappingURL=style.css.map */